<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    {{!--
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/favicon.png">

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="/socket.io/socket.io.js"></script>--}}
    <script src="public/bundle.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>