<h1>write.io admin</h1>

<div id='game-page'>
    <h1>List of players</h1>
    <ol>
        <li v-for="player in players">
            ${ player.nickname }
        </li>
    </ol>
</div>


<script type="application/javascript">


</script>
