<div v-if='seen' id='home-page' xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="center">
        <h1>write.io</h1>

        <p>Pick a username</p>
        <form onsubmit="return false">
            <input id="choosenickname" placeholder="Anonymous" v-model="nickname" autofocus />
            <button id="write-btn" v-on:click="login">Write!</button>
        </form>
    </div>
</div>

<div v-if='seen' id='game-page'>
    <h1>List of players</h1>
    <textarea  v-on:change="submitText"  cols="60" rows="3" v-model="playerText"></textarea>
    <ol>
        <li v-for="player in players" >
            ${player.nickname}'s text
            <br>
            <input v-model="parentMsg">
            <child2 :my-message="parentMsg"></child2>

            <!--<child my-message="hello!"></child>-->

            <!--<div>-->
                <!--<input v-model="parentMsg">-->
                <!--<br>-->
                <!--<child2 v-bind:my-message="parentMsg"></child2>-->
            <!--</div>-->

        </li>

    </ol>
    <button v-on:click="quit">Quit</button>
</div>

