<div v-if='seen' id='login-page'>
    <h1>write.io</h1>

    <p>Pick a username</p>
    <form onsubmit="return false">
        <input placeholder="Anonymous" v-model="nickname" />
        <button v-on:click="login">Write!</button>
    </form>
</div>

<div v-if='seen' id='game-page'>
    <h1>List of players</h1>
    <ol>
        <li v-for="player in players">
            {{ player.nickname }}
        </li>
    </ol>
    <button v-on:click="quit">Quit</button>
</div>
