<div v-if='seen' id='home-page' xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="center">
        <h1>write.io</h1>

        <p>Pick a username</p>
        <form onsubmit="return false">
            <input placeholder="Anonymous" v-model="nickname" />
            <button v-on:click="login">Write!</button>
        </form>
    </div>
</div>

<div v-if='seen' id='game-page'>
    <h1>List of players</h1>
    <ol>
        <li v-for="player in players">
            ${player.nickname}
            <form onsubmit="return false">
                <textarea name="playerText" cols="60" rows="3"></textarea>
                <button v-on:click="submitText">Submit!</button>
            </form>
        </li>
    </ol>
    <button v-on:click="quit">Quit</button>
</div>
