<html>

<head>
    <title>writing.io</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <input placeholder="Anonymous" name="nickname" />
    <button id="submit">Write!</button>

    <script type="application/javascript" src="js/bundle.js"></script>
</body>

</html>
